<strong>Olá, {{ deliveryman }}</strong>
<p>There is a new delivery waiting for you, see more information below:</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  Street: {{ street }} <br />
  House Number: {{ house_number }} <br />
  Complement: {{ complement }} <br />
  City: {{ city }} <br />
  State: {{ state }} <br />
  Zipcode: {{ zipcode }} <br />
  <br />
  <small>
    The withdrawal is available between 08:00 and 18:00.
  </small>
</p>
