<strong>Hello, {{ deliveryman }}</strong>
<p>The delivery below has just been canceled:</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  Street: {{ street }} <br />
  House Number: {{ house_number }} <br />
  Complement: {{ complement }} <br />
  City: {{ city }} <br />
  State: {{ state }} <br />
  Zipcode: {{ zipcode }} <br />
  <br />
  <small>
    The delivery has been canceled due to problems related.
  </small>
</p>
